p {
    font-size: 1.6rem;
    /* font-weight: 600; */
  }
  
  h1 {
    font-size: 6rem;
  }

.description {
  position: relative;
  right: -80%;
  transform-origin: 0 0;
  transform: rotate(270deg) ;
}

.temp {
  cursor: pointer;
}